body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

.phones li {
  clear: both;
  height: 80px;
  padding-top: 15px;
}

.col-center {
  margin: 0 auto;
}
.div-test{
    padding:2em;
    text-align:left;
    border:1px solid blue;
}
.div-center {
  margin: 0 auto;
  border-width:1px;
  border-style:solid;
}
